
      .login-form {
        max-width: 300px;
      }

      .login-form-margin {
        margin-bottom: 16px;
      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }

      .my-flex{
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        height: 440px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      .body-class{
        width: 100%;
      }

      .pin-to-bottom-footer{
        position: absolute;
        bottom: -110vh;
      }
