<nz-input-group [nzSuffix]="suffixIconSearch">
  <input #searchbox nz-input class="search-box" (input)="findByName($event)" type="text" placeholder="Search Instructors">
</nz-input-group>

<div class="my-flex">
<div *ngFor="let employee of (stateEmployees | async | UsersFilterPipe : employeeName)" >
    <app-intro-card [employeeDetails]="employee"></app-intro-card>
</div>
</div>
<div class="pin-to-bottom-footer">
  <app-pagination></app-pagination>
</div>

<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>
